# Build outputs
bin/
obj/

# User / IDE files
.vs/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs / temp
*.log
*.tmp
*.temp
Temp/

# OS files
Thumbs.db
Desktop.ini

# Local app data
App_Data/
